<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="programa" value="2"/>
    <!--programa 1 =  Ciudades Mapa-->
    <!--programa 2 =  Robot Circuito-->
    <add key ="num" value="53"/>
    <!--programa 1 =  189 nodos -->
    <!--programa 2 =  53 nodos-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>